<div class="zq-actcompt-pop" id="vote_pop" style="display:none;">
    <span class="zq-actcompt-pop-close"></span>
    <h4 class="zq-actcompt-pop-tit">完成投票后参与抽奖</h4>
    <div class="zq-actcompt-pcon">
        {{#each votelist}}
        <div class="zq-actcompt-vote" data-voteid="{{voteid}}" data-votetype="{{voteflag}}">
            <h4 class="zq-actcompt-tit">{{title}}:</h4>
            <ul class="zq-actcompt-votelist">
                {{#each itemlist}}
                <li class="zq-actcompt-votelist-item" data-itemid="{{itemid}}"><div>{{itemtitle}}</div></li>
                {{/each}}
            </ul>
            <div class="zq-actcompt-btn-box zq-actcompt-tc"><button type="button" class="zq-actcompt-btn-submit" id="submit_vote">提交</button></div>
        </div>
        {{/each}}
    </div>
</div>
<div class="zq-actcompt-pop-mask" style="display:none;"></div>