<div class="zq-actcompt3 zq-actcompt">
	<h4 class="zq-actcompt-tit">{{name}}</h4>
	<div class="zq-actcompt-box zq-actcompt-box-{{prizeCount}}">
		{{#each prizeList}}
		<div class="zq-actcompt-item zq-actcompt-item{{index}}" data-prizeId="{{prizeId}}">
			<img src="{{prizePicture}}" alt="" />
			<div></div>
		</div>
		{{/each}}
		<div class="zq-actcompt-item zq-actcompt-item-noprize" data-prizeId="0">
			<img src="http://ue.17173cdn.com/a/module/zq/2015/act-lottery/m/img/gn.jpg" alt="" />
			<div></div>
		</div>
	</div>

	{{#if status.inProgress}}
	<a href="javascript:;"  title="" class="zq-actcompt-btn-cj" id="zq_actcompt_in_progress">我要抽奖<i class="zq-actcompt-ico-play"></i></a>
	<div class="zq-actcompt-num">
		<i class="zq-actcompt-ico-per2"></i>已有 <span class="zq-actcompt-or"><span class="zq-actcompt-joins">{{joins}}</span> </span>人参与
		{{#if status.winnerUrl}}
		<a href="{{status.winnerUrl}}"  title="查看中奖名单" class="zq-actcompt-btn-winners">查看中奖名单&gt;&gt;</a>
		{{/if}}
	</div>
	{{/if}}

	{{#if status.notYetStart}}
	<a href="javascript:;"  title="" class="zq-actcompt-btn-cj-begin" id="zq_actcompt_not_yet_start">即将开始<i class="zq-actcompt-ico-play"></i></a>
	<div class="zq-actcompt-num">
		 <span class="zq-actcompt-or many zq-actcompt-countdown"></span>
	</div>
	{{/if}}

	{{#if status.ended}}
	<a href="javascript:;"  title="" class="zq-actcompt-btn-cj-end" id="zq_actcompt_ended">活动已结束</a>
	<div class="zq-actcompt-num">
		 已有<span class="zq-actcompt-or">{{joins}} </span>人参与
	</div>
	{{/if}}

	<p>活动时间：<br/></span>{{#if collectInfo}} {{beginTimeFormatted}} - {{endTimeFormatted}} {{else}} {{lotteryBeginTimeFormatted}} - {{lotteryEndTimeFormatted}}  {{/if}}</p>
	<p>活动规则：<br>{{{description}}}</p>
	
</div>







